@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 4px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

@layer base {
  .dark {
    --background: 225 9% 9%;
    --foreground: 210 40% 98%;

    --card: 228 9% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 228 9% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: #f3720a;
    --primary-foreground: 0 0% 100%;

    --secondary: #f3720a;
    --secondary-foreground: 210 40% 98%;

    --muted: 228 6% 16%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 228 6% 16%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 228 6% 16%;
    --input: 228 6% 16%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

.bg1 {
  background-image: url(../public/backgroung.jpg);
  border-image: fill 0 linear-gradient(#0001, #000f);
  -webkit-border-image: fill 0 linear-gradient(#0001, #000f);
  -moz-border-image: fill 0 linear-gradient(#0001, #000f);
}

.bg2 {
  background-image: url(../public/background_mark.jpg);
  border-image: fill 0 linear-gradient(#000e, #000e);
  -webkit-border-image: fill 0 linear-gradient(#000e, #000e);
  -moz-border-image: fill 0 linear-gradient(#000e, #000e);
}

.bg3 {
  background-image: url(../public/background_sub.jpg);
  border-image: fill 0 linear-gradient(#000e, #000e);
  -webkit-border-image: fill 0 linear-gradient(#000e, #000e);
  -moz-border-image: fill 0 linear-gradient(#000e, #000e);
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hind-siliguri-light {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-siliguri-regular {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-siliguri-medium {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-siliguri-semibold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-siliguri-bold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border antialiased;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
}
